<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gamaya">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gamaya">
        <activity android:name=".ui.KeragamanActivity"></activity>
        <activity android:name=".ui.KompetensiActivity" />
        <activity android:name=".ui.GambarTarianActivity" />
        <activity android:name=".ui.MusikActivity" />
        <activity android:name=".ui.TarianActivity" />
        <activity android:name=".ui.PakaianActivity" />
        <activity android:name=".ui.RumahActivity" />
        <activity android:name=".ui.MenuMateriActivity" />
        <activity
            android:name=".ui.EvalActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout" />
        <activity android:name=".ui.TebakGambarActivity" />
        <activity android:name=".ui.ViewPagerActivity" />
        <activity android:name=".ui.QuizResultActivity" />
        <activity android:name=".ui.QuizActivity" />
        <activity android:name=".ui.PetunjukActivity" />
        <activity android:name=".ui.ProfileActivity" />
        <activity
            android:name=".ui.HomeActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.PustakaActivity" />
    </application>

</manifest>